<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= listingData.title %></title>
  </head>
  <body>
    <h3>EDIT YOUR LISTING</h3>
    <form action="/listings/<%= listingData._id %>?_method=PUT" method="post">
      <input
        type="text"
        name="listing[title]"
        value="<%= listingData.title %>"
      />
      <br /><br />
      <textarea type="text" name="listing[description]">
<%= listingData.description %></textarea
      >

      <br /><br />
      <input name="listing[image]" value="<%= listingData.image %>" />
      <br /><br />
      <input
        type="number"
        name="listing[price]"
        value="<%= listingData.price %>"
      />
      <br /><br />
      <input
        type="text"
        name="listing[country]"
        value="<%= listingData.country %>"
      />
      <br /><br />
      <input
        type="text"
        name="listing[location]"
        value="<%= listingData.location %>"
      />
      <br /><br />
      <button>Submit</button>
    </form>
  </body>
</html>
